<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Ратушнюк Александр</h1>
<p>
  <li>
    Мой аккаунт в Github: https://github.com/Aleksander-VLZ
  </li>
  Путь мой долог и тернист. Как говорят. Как и многие я получил высшее образование, но в итоге свою 
  профессиональную деятельность связал совсем с другой сферой деятельностию - энергетикой. 
  Но чтоб дальше развиваться нужно было получить нужное образование. А дома семья и любимый пес ждут, 
  вот я и решил воспользоваться шансом быть рядом, теперь учусь на Яндекс Практикуме на Python - разработчика. 
</p>
{% endblock %}
